
.idea/

venv/lib/python3.9/site-packages/pip/_vendor/idna/

venv/lib/python3.9/site-packages/pip/_vendor/packaging/__pycache__/

venv/lib/python3.9/site-packages/pip/_vendor/packaging/

venv/lib/python3.9/site-packages/pip/_vendor/pep517/__pycache__/

venv/lib/python3.9/site-packages/pip/_vendor/pep517/

venv/lib/python3.9/site-packages/pip/_vendor/progress/

venv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/

venv/lib/python3.9/site-packages/pip/_vendor/requests/

venv/lib/python3.9/site-packages/pip/_vendor/resolvelib/__pycache__/

venv/lib/python3.9/site-packages/pip/_vendor/resolvelib/compat/

venv/lib/python3.9/site-packages/setuptools/

venv/lib/python3.9/site-packages/setuptools-53.0.0.dist-info/

venv/lib/python3.9/site-packages/pip/_vendor/webencodings/

venv/lib/python3.9/site-packages/pkg_resources/_vendor/__pycache__/

venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/

venv/lib/python3.9/site-packages/pkg_resources/_vendor/

venv/lib/python3.9/site-packages/pkg_resources/extern/

venv/bin/

venv/lib/python3.9/site-packages/_distutils_hack/

venv/lib/python3.9/site-packages/

venv/
